* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
i,svg {
    pointer-events: none;
}

.sequencer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kick-pad, .snare-pad, .hihat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}
.kick-pad {
    background: rgb(153, 242, 212);
}
.snare-pad {
    background: rgb(162, 163, 163);
}

.hihat-pad {
    background: rgb(255, 182, 127);
}

.kick-pad.active {
    background: rgb(105, 230, 186);
}

.snare-pad.active {
    background: rgb(111, 113, 113);
}
.hihat-pad.active {
    background: rgb(243, 159, 94);
}


.kick-track, .snare-track, .hihat-track {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: 3rem;
}

.kick, .snare, .hihat {
    display: flex;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}

.controls button {
    padding: 1rem;
    border: none;
    background: rgb(189, 196, 195);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pad {
    transition: all 0.5s ease;
}

.play {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(189, 196, 195);
    color: whitesmoke;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
}

select {
    padding: 1rem;
    font-size: 1rem;
}

@keyframes playTrack{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2); 
    }
}